
.not-main-screen{
  background-color: #27503e;
  flex-direction: column;
} 

.not-main-screen__dark{
  background-color: #000000;
  flex-direction: column;

}

.new-recruit{
  background-color: #dba3a3;
  width: 80%;
  height: 15vh;
  margin: 50px 0px;
  border-radius: 40px;
  
}

.new-recruit__dark {
  color: black;
}

.new-recruit > h1{
  font-size: 25px;
}

.new-recruit > h1 > a{
  font-style: bold italic;
}

/* 포스터 이미지 */
.pdf-img{
  background-color: white;
  width:80%;
  height:100%;
  margin: 50px 0px;
  border-radius: 40px;
}

.pdf-img img{
  width:100%;
  height:90%;
  border-radius: 40px;
} 

.member-page{
  width: 80%;
  height: 80%;
  margin: 20px 0px;

}

.member-page > img{
  width: 50vw;
}

.member-dark{
  color: black;
  font-size: 
}

/* 모바일 - 이미지 화면에 꽉 채우기 */
@media (max-width:800px){
  .not-main-screen{
    background-color: #ffffff;
  }

  .new-recruit{
    background-color: #78c1a4;
    width: 90%;
    height: 15vh;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 10px;
    
  }

  .new-recruit > h1{
    font-size: 1em;
  }

  .pdf-img{
    width:100%;
    height:100%;
    margin:0px;
    margin-top:20px;
    border-radius: 0px;
  }
  
  .pdf-img img{
    width:100%;
    height:90%;
    border-radius: 0px;
  } 
}
